/*  Variables  */
$color-one: #0097e6;
$color-one:  #fed136;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-four: #ffffff;

/*  Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-five;
}

.container {
    max-width: 1140px;
    margin: 0 auto;    
}

.container h1 {
    font-size: 48px;
    margin-bottom: 18px;
    margin: 0 0 72px 20px;
}

section {
    padding: 120px 0;
    padding: 96px 0;
}

p {
    color: #777777;
    font-size: 14px;
    letter-spacing: -0.35px;
    font-weight: 400;
}

h1 {
    margin-bottom: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-family: $font-header;
    text-align: center;
}

h3 {
    width: 296px;
    height: 17px;
    color: #777777;
    font-family: $font-text;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: -0.7%;
}
.row {
    justify-content: space-around;       
}

.btn {
    display: inline-block;
    min-width: 138px;
    min-height: 65px;    
    padding: 25px 51px 26px;
    font-family: $font-header;
    font-size: 14px;    
    text-decoration: none;
    cursor: pointer;
    background-color: $color-one;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.btn:hover {
    background-position: 0 100%;
    color: #ffffff;
}

/*   Navigation  */
.navigation {
    background: $color-one;
    padding: 0;
}

.navigation ul {
    padding: 0;
    margin: 0;    
    list-style-type: none;
    position: absolute;
    top: 5vmax;
    right: 6vmax;
    z-index: 1;
}

.navigation ul li {
    display: inline-block;
    margin: 0 40px 0 0;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;    
    font-size: 1em;
    color: $color-four;
}

.navigation a:hover {
    color: $color-two;
}

.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
}

.navigation ul ul {
    display: none;
    background: $color-four;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
}    

.navigation li:hover ul {
    display: block;
    position: absolute;
}

/*  Splash  */
.splash {    
    background-image: url('../images/Background.png');    
    background-size: cover;
    color: $color-four;
    min-height: 930px;    
}
.flex-row {
    text-decoration: none;
    cursor: pointer;
    background-color: #fed136;
    background-color: $color-one;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    margin: 0;
    font-family: $font-golden;
    font-size: 26px;
    color: #fed136;
    color: $color-one;
    font-style: italic;
    position: absolute;
    top: 5%;
    left:20%;
}
/*  Services  */
.services h1 {
    margin-bottom: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-family: $font-header;
    text-align: center;
}

.services h3 {
    width: 296px;
    height: 17px;
    color: #777777;
    font-family: $font-text;
    font-size: 16px;
    font-style: italic;
    position: relative;
    left: 40%;
    text-align: right;

}

.flex-1 {
    flex: 0 0 33.333%; 
    position: relative;
    text-align: justify;
    padding: 96px 56px 0 0;
}

.flex-1 h1 {
    font-size: 18px;
}

i {
    color: $color-one;
    background-color: #ffffff;
    font-size: 35px;
    height: 70px;
    width: 70px;
    position: relative;
    left: 40%;
    line-height: 70px;
    border: 2px solid;
    padding-top: 16px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
} 